/* 
* ---------------- Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

/* 
*------------ Font Face */
@font-face {
	font-family: "DINBold";
	src: url(/assets/fonts/DINBold.ttf);
}
@font-face {
	font-family: "DINMedium";
	src: url(/assets/fonts/DINMedium.ttf);
}
@font-face {
	font-family: "DINRegular";
	src: url(/assets/fonts/DINRegular.ttf);
}

/* 
* ----------------- Main CSS */
body {
	/* min-height: 100vh; */
	background-color: #000;
	color: #fff;
	font-family: "DINBold";
	text-transform: uppercase;
}
ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}

.nav {
	display: flex;
	position: fixed;
	align-items: center;
	font-size: 0.85rem;
	height: 6.25rem;
	width: 100vw;
}
.nav__image-link {
	padding-bottom: 12px;
}
.nav__image {
	width: 13rem;
}
.nav__center {
	margin-left: 2.5rem;
	flex-basis: content;
}
.nav__right {
	display: flex;
	flex-grow: 1;
	/* align-items: flex-end; */
	justify-content: flex-end;
}
.nav__list {
	list-style-type: none;
	display: flex;
	column-gap: 1.5rem;
}

.content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    row-gap: 3rem;
	padding: 6.25rem 0 6rem;
	background-image: url(/assets/images/starlink.webp);
	background-size: cover;
}
.content__title {
	font-size: 3rem;
	letter-spacing: -2.5px;
}
.content__subtitle {
	font-size: 1.25rem;
	font-family: "DINRegular";
}
.content__button-wrap {
	width: fit-content;
	border: 2px solid #fff;
	padding: 1rem 4rem;
	cursor: pointer;
}
.content__button {
	font-family: "DINBold";
	font-size: 0.87rem;
}
