/* 
* ---------------- Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* 
*------------ Font Face */
@font-face {
	font-family: "DINBold";
	src: url(/assets/fonts/DINBold.ttf);
}
@font-face {
	font-family: "DINMedium";
	src: url(/assets/fonts/DINMedium.ttf);
}
@font-face {
	font-family: "DINRegular";
	src: url(/assets/fonts/DINRegular.ttf);
}

/* 
* ----------------- Main CSS */
body {
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    background-image: url(/assets/starlink.webp);
    background-size: cover;
}

