/* 
* ---------------- Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

/* 
*------------ Font Face */
@font-face {
	font-family: "DINBold";
	src: url(../assets/fonts/DINBold.ttf);
}
@font-face {
	font-family: "DINMedium";
	src: url(../assets/fonts/DINMedium.ttf);
}
@font-face {
	font-family: "DINRegular";
	src: url(../assets/fonts/DINRegular.ttf);
}

/* 
* ----------------- Main CSS */
body {
	/* min-height: 100vh; */
	background-color: #000;
	color: #fff;
	font-family: "DINBold";
	text-transform: uppercase;
}
ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}

.nav {
	display: flex;
	position: fixed;
	align-items: center;
	font-size: 0.85rem;
	height: 6.25rem;
	width: 100vw;
}
.nav__image-link {
	padding-bottom: 12px;
}
.nav__image {
	width: 13rem;
}
.nav__center {
	margin-left: 2.5rem;
	flex-basis: content;
}
.nav__right {
	display: flex;
	flex-grow: 1;
	/* align-items: flex-end; */
	justify-content: flex-end;
}
.nav__list {
	list-style-type: none;
	display: flex;
	column-gap: 1.5rem;
}

.content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	row-gap: 3rem;
	padding: 6.25rem 0 6rem;
	background-size: cover;
	background-repeat: no-repeat;
}

/* 
*---------------- Starlink */
.content:nth-child(1) {
	background-image: url(../assets/images/starlink.webp);
}

/* 
*-------------------- Transporter */
.content:nth-child(2) {
	background-image: url(../assets/images/transport.webp);
	row-gap: 2rem;
}
.content:nth-child(2) .content__button-wrap {
	padding: 1rem 3rem;
}

/* 
*------------------ CRS-24 */
.content:nth-child(3) {
	background-image: url(../assets/images/crs24.webp);
	row-gap: 1.5rem;
}
.content:nth-child(3) .content__button-wrap {
	padding: 1rem 2.55rem;
}
/*

/* 
* ------------------ IXPE */
.content:nth-child(4) {
	background-image: url(../assets/images/ixpe.webp);
	row-gap: 2.5rem;
}
.content:nth-child(4) .content__button-wrap {
	padding: 1rem 3rem;
}
.content:nth-child(4) .content__title,
.content:nth-child(5) .content__title {
	white-space: pre-line;
}

/* 
* ------------------ NASA */
.content:nth-child(5) {
	background-image: url(../assets/images/nasa.webp);
	row-gap: 2rem;
}
.content:nth-child(5) .content__button-wrap {
	padding: 1rem 3rem;
}

.content__title {
	font-size: 3rem;
	letter-spacing: -2.5px;
	text-shadow: 0 0 2px #555;
	line-height: 3rem;
	font-weight: 400;
}
.content__subtitle {
	font-size: 1.25rem;
	font-family: "DINRegular";
}
.content__button-wrap {
	width: fit-content;
	border: 2px solid #fff;
	padding: 1rem 4rem;
	cursor: pointer;
}
.content__button {
	font-family: "DINBold";
	font-size: 0.87rem;
}
.footer {
	font-size: 0.7rem;
    line-height: 1.5rem;
}
.footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    height: 6.25rem;
}
.footer__copyright {
    font-family: "DINRegular";
    color: #979797;
}
.animated {
	opacity: 0;
	animation: 0.5s FadeInUp;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	/* -webkit-animation: .5s FadeInUp; */
}
.animated:nth-child(2){ animation-delay: .6s;}
/* .animated a:nth-child(3){ animation-delay: 2s;} */
@keyframes FadeInUp {
	from {
		transform: translate3d(0,40px,0);
	}
	to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
